////////////////////////////////////////
// GLOBAL HEADING-2 STYLING

.heading2 {
    font-size: 2.5rem;

    &--green {
        color: color(light-green);
    }

    &--darkGreen {
        color: color(dark-green);
    }
}


////////////////////////////////////////
// EXTRA CLASSES FOR MARGIN BOTTOM

.mb_sm {
    margin-bottom: 2rem;
}
.mb_md {
    margin-bottom: 3rem;
}
.mb_lr {
    margin-bottom: 4rem;
}
.mb_hg {
    margin-bottom: 5rem;
}
.mb_hg--2 {
    margin-bottom: 14rem;
}