////////////////////////////////////////
// VARIABLES

$colors: (
    primary: #3392C0,
    secondary: #DF8E71,
    tertiary: #E25B5B,
    background: #FAFAFC,
    light-grey: #F9F9F9,
    light-green: #097F99,
    dark-green: #0C2F31,
    dark-orange: #EE5650
);

$border-radius: 5px;

////////////////////////////////////////
// VARIBLES FOR VIEW PORT SIZE
// ALL THE POSSIBLE BREAKPOINT FOR RESPONSIVE LAYOUT

$bp-largest1: 1389px;  // BIG DESKTOP
$bp-largest: 1200px;   // STANDARD DESKTOP
$bp-large: 1108px;     // BIG TABLET
$bp-medium: 1073px;    // STANDARD TABLET
$bp-medium1: 943px;      // STANDARD TABLET
$bp-small: 774px;   // STANDARD MOBILE
$bp-smallest: 550px;    // SMALL MOBILE
$bp-smallest-v2: 505px;     // SMALL SIZE OR OLDER PHONE
$bp-smallest-v3: 465px;     // SMALL SIZE OR OLDER PHONE

