////////////////////////////////////////
// MAIN SCSS FILE THAT CONTAIN ALL THE LAYOUTSS, BASE, TYPOGRAPHY ETC....

@import "./variables";
@import "./functions";
@import "./mixins";

@import "base";

@import "typography";
 
@import "./layout";
@import "./components";

////////////////////////////////////////
// THE SIDE NAVIGATION MENU

.sidenav {
    height: 100%; 
    width: 0;
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: black; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 

    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;

        &:hover {
            color: #f1f1f1;
        }
    }

    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}

////////////////////////////////////////
// STYLE PAGE CONTENT
  
#main {
  transition: margin-left .5s;
  padding: 20px;
}

////////////////////////////////////////
// FOR SMALLER SCREEN
  
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 